@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

:root {
  --main-bg-color: brown;
  --sticker-shadow: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.1));
  --sticker-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  --spacing-xsmall: 5px;
  --spacing-small: 15px;
  --spacing-medium: 30px;
}

.player-container {
  --max-width: 600px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

body {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.btn-paper {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
  display: inline-block;
  font-size: 18px;
  filter: var(--sticker-shadow);
  transition: 0.2s linear;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.btn-paper:disabled {
  color: black;
}

.btn-paper.selected:after {
  content: '';
  background-image: url(/hand-circled.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0,0,0,0);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.btn-paper:disabled:after {
  content: '';
  background-image: url(/scribble.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0,0,0,0);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.btn-paper:hover {
  transform: scale(1.03) rotate(2deg);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
}

.btn-paper:disabled:hover {
  transform: none;
  filter: var(--sticker-shadow);
}

.btn-full-width {
  width: calc(100% - (var(--spacing-small) * 2));
  margin: var(--spacing-xsmall) var(--spacing-small);
}

.alligator-containment-zone {
  width: 100vw;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
}

.alligator-waiting {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 300px;
  animation-name: walking;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.alligator-container {
  width: 1493px;
  height: 1202px;
  position: relative;
  transform-origin: top left;
}

.alligator-part {
  height: 1202px;
  width: 1493px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.alligator-background-open {
  background-image: url("/alligator-background-open.png");
}

.alligator-body {
  background-image: url("/alligator-body.png");
}

.alligator-head-open {
  background-image: url("/alligator-head-open.png");
}

.player-container {
  height: 100vh;
  overflow: auto;
  max-width: 600px;
  margin: auto;
}

.player-container .logo {
  width: 100%;
  max-width: var(--max-width);
  filter: var(--sticker-shadow);
  margin-top: var(--spacing-medium);
}

.player-container .new-game-container .join-buttons {
  text-align: center;
}

.player-container .betting-container {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.player-container .betting-container .betting-container-top {
  box-shadow: var(--sticker-box-shadow);
  z-index: 1;
}
.player-container .betting-container .betting-container-bottom {
  flex-grow: 1;
  overflow: auto;
  background: #f8f5f8;
}

.player-container .betting-container .bet-header {
  display: block;
  background: #3eb489;
  filter: var(--sticker-shadow);
  padding: var(--spacing-small) 0;
  padding-left: var(--spacing-small);
  position: sticky;
  top: 0;
  text-align: left;
}

@keyframes walking {
  from {
    left: -300px;
  }
  to {
    left: 100vw;
  }
}
