@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

:root {
  --main-bg-color: brown;
  --sticker-shadow: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.1));
  --sticker-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
  --spacing-xsmall: 5px;
  --spacing-small: 15px;
  --spacing-medium: 30px;
}

.player-container {
  --max-width: 600px;
}

.streamer-container {
  --max-width: 600px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

body {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 60%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.handwriting {
  font-family: "Reenie Beanie", cursive;
  font-size: 30px;
}

.btn {
  cursor: pointer;
}

.btn-paper {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 15px;
  margin: 5px;
  display: inline-block;
  font-size: 18px;
  filter: var(--sticker-shadow);
  transition: 0.2s linear;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  min-width: 125px;
  text-align: center;
}

.btn-paper:disabled {
  color: black;
}

.btn-paper.selected:after {
  content: "";
  background-image: url(/hand-circled.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.btn-paper:disabled:after {
  content: "";
  background-image: url(/scribble.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(0, 0, 0, 0);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.btn-paper:hover {
  transform: scale(1.03) rotate(2deg);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.4));
}

.btn-paper:disabled:hover {
  transform: none;
  filter: var(--sticker-shadow);
}

.btn-full-width {
  width: calc(100% - (var(--spacing-small) * 2));
  margin: var(--spacing-xsmall) var(--spacing-small);
}

.alligator-containment-zone {
  width: 100vw;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
}

.alligator-waiting {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 300px;
  animation-name: walking;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.alligator-container {
  width: 1493px;
  height: 1202px;
  position: relative;
  transform-origin: top left;
}

.alligator-part {
  height: 1202px;
  width: 1493px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.alligator-background-open {
  background-image: url("/alligator-background-open.png");
}

.alligator-background-closed {
  background-image: url("/alligator-background-closed.png");
}

.alligator-body {
  background-image: url("/alligator-body.png");
}

.alligator-tooth-1 {
  background-image: url("/tooth-1.png");
}
.alligator-tooth-2 {
  background-image: url("/tooth-2.png");
}
.alligator-tooth-3 {
  background-image: url("/tooth-3.png");
}
.alligator-tooth-4 {
  background-image: url("/tooth-4.png");
}
.alligator-tooth-5 {
  background-image: url("/tooth-5.png");
}
.alligator-tooth-6 {
  background-image: url("/tooth-6.png");
}
.alligator-tooth-7 {
  background-image: url("/tooth-7.png");
}

.alligator-tooth-1-down {
  background-image: url("/tooth-1-down.png");
}
.alligator-tooth-2-down {
  background-image: url("/tooth-2-down.png");
}
.alligator-tooth-3-down {
  background-image: url("/tooth-3-down.png");
}
.alligator-tooth-4-down {
  background-image: url("/tooth-4-down.png");
}
.alligator-tooth-5-down {
  background-image: url("/tooth-5-down.png");
}
.alligator-tooth-6-down {
  background-image: url("/tooth-6-down.png");
}
.alligator-tooth-7-down {
  background-image: url("/tooth-7-down.png");
}

.alligator-tooth-1-select {
  background-image: url("/tooth-1-select.png");
}
.alligator-tooth-2-select {
  background-image: url("/tooth-2-select.png");
}
.alligator-tooth-3-select {
  background-image: url("/tooth-3-select.png");
}
.alligator-tooth-4-select {
  background-image: url("/tooth-4-select.png");
}
.alligator-tooth-5-select {
  background-image: url("/tooth-5-select.png");
}
.alligator-tooth-6-select {
  background-image: url("/tooth-6-select.png");
}
.alligator-tooth-7-select {
  background-image: url("/tooth-7-select.png");
}

.tooth-anchor {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: grab;
}

.tooth-anchor:active {
  cursor: grabbing;
}

.tooth-anchor-1 {
  top: 510px;
  left: 313px;
}
.tooth-anchor-1:hover ~ .alligator-tooth-1 {
  background-image: url("/tooth-1-select.png");
}

.tooth-anchor-2 {
  top: 530px;
  left: 250px;
}
.tooth-anchor-2:hover ~ .alligator-tooth-2 {
  background-image: url("/tooth-2-select.png");
}

.tooth-anchor-3 {
  top: 578px;
  left: 192px;
}
.tooth-anchor-3:hover ~ .alligator-tooth-3 {
  background-image: url("/tooth-3-select.png");
}

.tooth-anchor-4 {
  top: 628px;
  left: 177px;
}
.tooth-anchor-4:hover ~ .alligator-tooth-4 {
  background-image: url("/tooth-4-select.png");
}

.tooth-anchor-5 {
  top: 645px;
  left: 238px;
}
.tooth-anchor-5:hover ~ .alligator-tooth-5 {
  background-image: url("/tooth-5-select.png");
}

.tooth-anchor-6 {
  top: 645px;
  left: 302px;
}
.tooth-anchor-6:hover ~ .alligator-tooth-6 {
  background-image: url("/tooth-6-select.png");
}

.tooth-anchor-7 {
  top: 620px;
  left: 362px;
}
.tooth-anchor-7:hover ~ .alligator-tooth-7 {
  background-image: url("/tooth-7-select.png");
}

.alligator-head-open {
  background-image: url("/alligator-head-open.png");
}

.alligator-head-closed {
  background-image: url("/alligator-head-closed.png");
}

.balloon {
  background-image: url("/pink-balloon.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 500px;
  width: 200px;
  position: absolute;
  animation-name: hover;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  opacity: 0.9;
}

.balloon-mint {
  background-image: url("/mint-balloon.png");
}

.logo {
  width: 100%;
  max-width: var(--max-width);
  filter: var(--sticker-shadow);
  margin-top: var(--spacing-medium);
}

.logo-small {
  width: 200px;
  margin: auto;
  display: block;
}

.page-container {
  height: 100vh;
  overflow: auto;
}

.page-container-dark {
  background: rgba(0, 0, 0, 0.5);
}

.player-main-content {
  max-width: 600px;
  margin: auto;
}

.player-container .new-game-container .join-buttons {
  text-align: center;
}

.player-container .game-over-container .join-buttons {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh
}

.player-container .betting-container {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.player-container .betting-container .betting-container-top {
  box-shadow: var(--sticker-box-shadow);
  z-index: 1;
}
.player-container .betting-container .betting-container-bottom {
  flex-grow: 1;
  overflow: auto;
  background: #f8f5f8;
}

.player-container .betting-container .bet-header {
  display: block;
  background: #3eb489;
  filter: var(--sticker-shadow);
  padding: var(--spacing-small) 0;
  padding-left: var(--spacing-small);
  position: sticky;
  top: 0;
  text-align: left;
}

.streamer-main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.streamer-container .lobby-container .join-buttons {
  text-align: center;
  margin-bottom: 300px;
}

.streamer-container .betting-container .xray-border {
  border: 5px solid white;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
  width: calc(50vw + 10px);
  background: white;
  position: relative;
}

.streamer-container .betting-container .xray-graph {
  background-image: url("/xray-graph.jpeg");
  background-size: 100vw auto;
  background-repeat: no-repeat;
  background-position: -50vw 0px;
  height: 47vw;
  width: 50vw;
  position: relative;
}

.streamer-container .betting-container .xray-graph-tooth {
  background: white;
  width: 2.3vw;
  min-height: 5px;
  position: absolute;
  bottom: 3.8vw;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.3s;
}

.streamer-container .betting-container .xray-graph-tooth-1 {
  left: 9.35vw;
}
.streamer-container .betting-container .xray-graph-tooth-2 {
  left: 13.9vw;
}
.streamer-container .betting-container .xray-graph-tooth-3 {
  left: 18.85vw;
}
.streamer-container .betting-container .xray-graph-tooth-4 {
  left: 23.73vw;
}
.streamer-container .betting-container .xray-graph-tooth-5 {
  left: 28.55vw;
}
.streamer-container .betting-container .xray-graph-tooth-6 {
  left: 33.3vw;
}
.streamer-container .betting-container .xray-graph-tooth-7 {
  left: 38.1vw;
}

.streamer-container .betting-container .xray-tooltip {
  display: none;
  color: white;
  z-index: 10;
  filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, 0.7));
  position: absolute;
  top: -40px;
  left: -55px;
  width: 140px;
  text-align: center;
}

.streamer-container .betting-container .xray-graph-tooth:hover .xray-tooltip {
  display: block;
}

.streamer-container .betting-container .xray-notes {
  height: 50px;
  font-family: "Reenie Beanie", cursive;
  font-size: 40px;
  padding-top: 20px;
}

.streamer-container .betting-container .xray-notes-action {
  margin-top: -40px;
  float: right;
}

.streamer-container .betting-container .clippy {
  background-image: url("https://i.pinimg.com/originals/56/98/af/5698af0b9137ef72229414439b461eb0.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  position: absolute;
  top: -15px;
  left: 100px;
  z-index: 100;
  transform: rotate(-5deg);
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.5));
}

.streamer-container .betting-container .xray {
  background-image: url("/xray.jpeg");
  background-size: 600px auto;
  background-repeat: no-repeat;
  background-position: -300px 0px;
  height: 243px;
  width: 300px;
  animation: animate-small 1.5s infinite;
  position: absolute;
  top: 0;
  left: -20px;
  border: 5px solid white;
  border-bottom: 25px solid white;
  box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.5);
  transform: rotate(10deg);
  z-index: 99;
}

.streamer-container .betting-container .xray:after {
  content: "Al E. Gator";
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.streamer-container .playing-container {
  display: flex;
}

.streamer-container .playing-container .foo {
  flex-shrink: 1;
  flex-grow: 1;
  width: 50vw;
  transition: 0.5s;
}

.streamer-container .playing-container .foo:hover {
  width: 75vw;
}

.streamer-container .playing-container .clipboard {
  background: tan;
  height: 75vh;
  width: 500px;
  border-radius: 30px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.1));
  position: relative;
  transform: rotate(2deg) translateX(-20px);
  transition: 0.5s;
  flex-shrink: 0;
  margin-top: 12.5vh;
}

.streamer-container .playing-container .clipboard:hover {
  transform: rotate(1deg) translateX(50px) scale(1.1);
}

.clipboard-rustle {
  /* display: none; */
}

.streamer-container .playing-container .clipboard:after {
  content: "";
  height: 60px;
  width: 150px;
  background: lightgrey;
  display: block;
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -75px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.1));
}
.streamer-container .playing-container .clipboard--paper {
  background: white;
  margin: 15px 30px;
  padding-top: 10px;
  height: 70vh;
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.1));
  position: relative;
  top: 15px;
}

.streamer-container .playing-container .clipboard table {
  border-collapse: collapse;
  width: calc(100% - 30px);
  font-size: 18px;
  margin: 15px;
}
.streamer-container .playing-container .clipboard table td {
  border: 1px solid black;
}

.streamer-container .playing-container .clipboard table tr td:first-child {
  width: 100px;
}

.streamer-container .playing-container .clipboard .photo {
  background: black;
}
.streamer-container .playing-container .clipboard .photo div {
  width: 123px;
  overflow: hidden;
}

.streamer-container .credits-container {
  height: 100vh;
  overflow: hidden;
  align-items: flex-start;
}

.streamer-container .credits-container h2,
.streamer-container .credits-container h3 {
  text-align: center;
}

.streamer-container .credits-container ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  max-width: 400px;
  align-content: center;
  justify-content: space-around;
  padding: 0;
  margin: auto;
}

.streamer-container .credits-container ul li {
  margin: var(--spacing-medium);
}

@keyframes walking {
  from {
    left: -300px;
  }
  to {
    left: 100vw;
  }
}

@keyframes hover {
  from {
    margin-top: -10px;
  }
  to {
    margin-top: 10px;
  }
}

@keyframes animate-small {
  0% {
    background-position: 0px 0px;
  }
  75.999% {
    background-position: 0px 0px;
  }
  76% {
    background-position: -300px 0px;
  }
  100% {
    background-position: -300px 0px;
  }
}

@keyframes shook {
  0% {transform: rotate(-5deg) translate(-5px, 0) scale(1.2)}
  49.9999% {transform: rotate(-5deg) translate(-5px, 0) scale(1.2)}
  50% {transform: rotate(-5deg) translate(5px, 0) scale(1.199)}
  100% {transform: rotate(-5deg) translate(5px, 0) scale(1.199)}
}
